.body {
    width: 1000px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Open Sans', Arial,sans-serif;
    color: #100f0f;
    margin: 0 auto !important;
    font-size: 14px;
    line-height: 20px;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    padding-left: 50px;
    line-height: 2;
}

body {
    background-image: url('/1.jpg');
}

input[type=text] {
    width: 98%;
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 4px;
}

input[type=number] {
    width: 98%;
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 4px;
}

input [type=date] {
    width: 98%;
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

input [type=submit] {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}